
#container{
  display:grid;
  grid-template-columns: 4fr 10fr 4fr;
  grid-template-rows: 15vh 70vh 15vh;
}

#container .cabecera{
  grid-column: 1/4;
  grid-row:1/2;
}

#container .body{
  grid-column: 1/4;
  grid-row: 2/3;
}

#container .pie{
  grid-column: 1/4;
  grid-row: 3/4;
  height: 50%;
  width:50%;
}


#carrusel {
    float:left;
    width:600px;
    overflow:hidden;
    height:203px;
    position:relative;
    margin-top:20px;
    margin-bottom:20px;
}

#carrusel .left-arrow {
    position:absolute;
    left:10px;
    z-index:1;
    top:50%;
    margin-top:-9px;
}

#carrusel .right-arrow {
    position:absolute;
    right:10px;
    z-index:1;
    top:50%;
    margin-top:-9px;
}

.carrusel {
    width:4000px;
    left:0px;
    position:absolute;
    z-index:0;
}

.carrusel>div {
    float: left;
    height: 203px;
    margin-right: 5px;
    width: 195px;
    text-align:center;
}

.carrusel img {
    cursor:pointer;
}

.product {
    border:#CCCCCC 1px solid;
}
