#container {
  display: grid;
  grid-template-columns: 4fr 10fr 4fr;
  grid-template-rows: 15vh 20vh 30vh 20vh 15vh;
}

#container .cabecera {
  grid-column: 1/4;
  grid-row: 1/2;
  height:100%;
  width: 100%;
}

#container .body {
  grid-column: 2/3;
  grid-row: 3/4;
  background-color: #ECFF62;
  height: 50%;
  width: 50%;
}


#container .pie {
  grid-column: 1/4;
  grid-row: 3/4;
  height: 100%;
  width: 100%;
}
