
#container {
  display: grid;
  grid-template-columns: 4fr 10fr 4fr;
  grid-template-rows: 12vh 3vh 20vh 30vh 19vh 10vh 6vh;
  background-image: url(../img/fondoweb.jpg);
  background-size: 100%;
}

#container .celda1{
  grid-column: 1/6;
  grid-row: 1/2;
  background-color: black;
}

#container  .my_carousel{
  grid-row: 3/6;
  grid-column: 2/3;
}

#container .cabecera{
  padding: 9px;
  border-radius: 5px;
  grid-column: 1/6;
  grid-row: 1/2;

}

#container .carousel-item active {
  grid-column: 1/4;
  grid-row: 2/3;
  height:500%;
  width: 50%;

}

#container .carousel-item {
  grid-column: 2/3;
  grid-row: 4/5;
  height: 50%;
  width: 50%;
  border: 10px ridge #6666cc;

}

#container .carousel-item{
  grid-column: 1/4;
  grid-row: 4/5;
  height: 100%;
  width: 100%;
}

#container .footer{
  grid-column:  1/4;
  grid-row: 7/8;

}
.imgnormalizada img{
  height: 500px;
  max-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  text-align: center;
  background-color: #000000;
  color: white;
}



<texto personalizado>

@import url(https://fonts.googleapis.com/css?family=Varela+Round);

body {
  background: hsla(0, 0%, 0%, .9);
}

h1 {
  grid-row: 1/2;
  grid-column: 2/3;
  color: hsla(0, 0%, 0%, .9);
  font: normal 140px Varela Round, sans-serif;
  height: 140px;
  left: 0;
  letter-spacing: 5px;
  margin: -80px 0 0 0;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  width: 100%;
  animation: move linear 2000ms infinite;
  text-align: center;
}

@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 hsla(0, 100%, 50%, 1),
      3px -3px 0 hsla(0, 100%, 50%, 1),
      2px -2px 0 hsla(0, 100%, 50%, 1),
      1px -1px 0 hsla(0, 100%, 50%, 1),
      -4px 4px 0 hsla(180, 100%, 50%, 1),
      -3px 3px 0 hsla(180, 100%, 50%, 1),
      -2px 2px 0 hsla(180, 100%, 50%, 1),
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  25% {
    text-shadow:
      -4px -4px 0 hsla(180, 100%, 50%, 1),
      -3px -3px 0 hsla(180, 100%, 50%, 1),
      -2px -2px 0 hsla(180, 100%, 50%, 1),
      -1px -1px 0 hsla(180, 100%, 50%, 1),
      4px 4px 0 hsla(0, 100%, 50%, 1),
      3px 3px 0 hsla(0, 100%, 50%, 1),
      2px 2px 0 hsla(0, 100%, 50%, 1),
      1px 1px 0 hsla(0, 100%, 50%, 1)
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 hsla(0, 100%, 50%, 1),
      -3px 3px 0 hsla(0, 100%, 50%, 1),
      -2px 2px 0 hsla(0, 100%, 50%, 1),
      -1px 1px 0 hsla(0, 100%, 50%, 1),
      4px -4px 0 hsla(180, 100%, 50%, 1),
      3px -3px 0 hsla(180, 100%, 50%, 1),
      2px -2px 0 hsla(180, 100%, 50%, 1),
      1px -1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 hsla(180, 100%, 50%, 1),
      3px 3px 0 hsla(180, 100%, 50%, 1),
      2px 2px 0 hsla(180, 100%, 50%, 1),
      1px 1px 0 hsla(180, 100%, 50%, 1),
      -4px -4px 0 hsla(0, 100%, 50%, 1),
      -3px -3px 0 hsla(0, 100%, 50%, 1),
      -2px -2px 0 hsla(0, 100%, 50%, 1),
      -1px -1px 0 hsla(0, 100%, 50%, 1)
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 hsla(0, 100%, 50%, 1),
      3px -3px 0 hsla(0, 100%, 50%, 1),
      2px -2px 0 hsla(0, 100%, 50%, 1),
      1px -1px 0 hsla(0, 100%, 50%, 1),
      -4px 4px 0 hsla(180, 100%, 50%, 1),
      -3px 3px 0 hsla(180, 100%, 50%, 1),
      -2px 2px 0 hsla(180, 100%, 50%, 1),
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
}
