
<<<<<<< HEAD
#container{
  display:grid;
  grid-template-columns: 4fr 10fr 4fr;
=======

#container{
  display:grid;
  border: 1px solid red;
  grid-template-columns: 3fr 10fr 3fr;
>>>>>>> 158626f155f5f2792787a72bc3b38a40bb9d92ea
  grid-template-rows: 15vh 70vh 15vh;
}

#container .cabecera{
<<<<<<< HEAD
=======
  padding: 9px;
  border-radius: 5px;
>>>>>>> 158626f155f5f2792787a72bc3b38a40bb9d92ea
  grid-column: 1/4;
  grid-row:1/2;
}

#container .body{
<<<<<<< HEAD
=======
  padding: 9px;
  border-radius: 5px;
>>>>>>> 158626f155f5f2792787a72bc3b38a40bb9d92ea
  grid-column: 1/4;
  grid-row: 2/3;
}

#container .pie{
  grid-column: 1/4;
  grid-row: 3/4;
}
